<% include header %>
  <div class="span12">
    <h1>Steam Results for <% if(id) { %><%= id %> <% } else { %><%= user %><% } %></h1>
    <% if (results.length) { %>
      <p>
        Backpack Used/Total Slots: Slots taken: <%= results.length %>/<%= bpslots %>
      </p>
      <div class="span6">
        <% for (var i = 0; i < results.length; i++) { %>
          <div class="span2" style="padding:0px;margin:0px;">
            <img src="<%= results[i].image_url %>" />
          </div>
        <% } %>
      </div>
    <% } else { %>
      <p>No results</p>
    <% } %>
  </div>
<% include footer %>