<% include header %>
  <div class="span12">
    <h1>Steam Results for <% if(id) { %><%= id %> <% } else { %><%= user %><% } %></h1>
    <% if (results.length) { %>
      <p>
        Backpack Used/Total Slots: <%= results.length %>/<%= bpslots %>
      </p>
      <div class="span8">
        <% for (var i = 0; i < results.length; i++) { %>
            <% switch(results[i].quality) { 
              case 0: %> <div class="span1 normal">
                <% break; %>
              <% case 3: %> <div class="span1 vintage">
                <% break; %>
              <% case 5: %> <div class="span1 unusual">
                <% break; %>
              <% case 6: %> <div class="span1 unique">
                <% break; %>
              <% case 7: %> <div class="span1 community">
                <% break; %>
              <% case 9: %> <div class="span1 selfmade">
                <% break; %>
              <% case 1: %> <div class="span1 genuine">
                <% break; %>
              <% case 11: %> <div class="span1 strange">
                <% break; %>
              <% case 13: %><div class="span1 haunted">
                <% break; %>
            <%}%>
            <img src="<%= results[i].image_url %>" />
          </div>
        <% } %>
      </div>
    <% } else { %>
      <p>No results</p>
    <% } %>
  </div>
<% include footer %>