<% if (items) { %>
  <% var resultLength = items.length %>
    <% if(newItems === 'true') { %>
    <div class="span12">
      <div class="row backpackrow">
        <h3>New items:</h3>
        <% for (var i = 0; i < resultLength; i++) { %>
          <% if (items[i] && items[i].isnew === 'new') { %>
            <div class="span2 normal <%= items[i].quality %> <% if (items[i].flag_cannot_craft) { %>nocraft<% } %> backgroundmodifiers bpitem" style="background-image:url('/static/item_icons/<%= items[i].defindex %>');background-size: contain;">
              <% if (items[i] && items[i].flag_cannot_trade) { %> <div class="notrade"></div> <% } %>
              <% if(items[i] && items[i].quantity && items[i].quantity !== 1) { %><%= items[i].quantity %><% } %>
              <div class="iteminfo text-center">
                <p class="itemname <%=items[i].quality%>font">
                  <% if(items[i].quality !== 'normal' && items[i].quality !== 'unique') { %><span style="text-transform:capitalize"><%=items[i].quality%><%}%> <%= items[i].name %>
                </p>
                <p class="tooltiptext">Level: <%= items[i].level %> <%= items[i].item_type_name %></p>
                <!-- Strange Kills -->
                <% if(items[i].quality === 'strange') { %>
                  <p class="strangekills">
                  <% if(items[i].name === "Spirit Of Giving") { %>Gifts Given:<% } else { %>Kills: <% } for (var m = 0; m < items[i].attributes.length; m++) {
                    if (items[i].attributes[m].defindex === 214) {
                      %><%= items[i].attributes[m].value %>
                    <% }
                  }
                }%>
                <% if (items[i].flag_cannot_trade) { %> <p class="notradetext">Cannot trade</p> <% } %>
                <% if (items[i].flag_cannot_craft) {%><p class="tooltiptext">Uncraftable</p><%}%>
                <% if (items[i].equipped) { %> <p class="equippedtext">Equipped</p> <% } %>
              </div>
              <!-- End item tooltip div -->
            </div>
            <!-- End item div -->

            <% lastFound = items[i].bpposition; %>
            <% if (usedASlot % 50 === 0 && lastFound !== bpslots) { %>
              <p>Page <%= ++currentPage %></p>
            <%}%>
          <%}%>
        <%}%>
      </div>
    </div>
    <%}%>
    <!-- End new items -->
    <!-- Begin backpack -->
      <div class="row backpackrow">
        <h3>Backpack:</h3>
        <!-- Backpack Filter and search box -->
        <label>Filter by</label>
        <select class="bpfilter">
          <option value="none">None</option>
          <option value="unusual">Unusual</option>
          <option value="genuine">Genuine</option>
          <option value="vintage">Vintage</option>
          <option value="unique">Unique</option>
          <option value="valve">Valve</option>
          <option value="community">Community</option>
          <option value="self-made">Self-made</option>
          <option value="haunted">Haunted</option>
        </select>
        <br />
        <% var lastFound = 0,
               currentFound = 0,
               currentPage = 1,
               usedASlot = 0; %>
        <% for (var i = 0; i < resultLength; i++) { %>
          <% if (items[i] && items[i].isnew !== 'new') { %>
            <% currentFound = items[i].bpposition; %>

            <!-- Adds page number, accounts for empty slots between items -->
            <% while(currentFound > (lastFound + 1)) { %>
              <div class="span2 normal backgroundmodifiers normal bpitem <%if (items[i].flag_cannot_craft) {%>nocraft<%}%>"></div>
                <% ++usedASlot; %>
                <% if (usedASlot % 50 === 0) { %>
                  <p class="pagenumber">Page <%= ++currentPage %></p>
                <%}%>
              <% currentFound--; %>
            <% } %>
            <% usedASlot++ %>

            <div class="span2 normal <%= items[i].quality %> <% if (items[i].flag_cannot_craft) { %>nocraft<% } %> backgroundmodifiers bpitem" style="background-image:url('/static/item_icons/<%= items[i].defindex %>.png');background-size: contain;">
              <% if (items[i] && items[i].flag_cannot_trade) { %> <div class="notrade"></div> <% } %>
              <% if(items[i] && items[i].quantity && items[i].quantity !== 1) { %><%= items[i].quantity %><% } %>
              <div class="iteminfo text-center">
                <p class="itemname <%=items[i].quality%>font">
                  <% if(items[i].quality !== 'normal' && items[i].quality !== 'unique') { %><span style="text-transform:capitalize"><%=items[i].quality%><%}%> <%= items[i].name %>
                </p>
                <p class="tooltiptext">Level: <%= items[i].level %> <%= items[i].item_type_name %></p>
                <!-- Strange Kills -->
                <% if(items[i].quality === 'strange') { %>
                  <p class="strangekills">
                  <% if(items[i].name === "Spirit Of Giving") { %>Gifts Given:<% } else { %>Kills: <% } for (var m = 0; m < items[i].attributes.length; m++) {
                    if (items[i].attributes[m].defindex == 214) {
                      %><%= items[i].attributes[m].value %>
                    <% }
                  }
                }%>
                <% if (items[i].flag_cannot_trade) { %> <p class="notradetext">Cannot trade</p> <% } %>
                <% if (items[i].flag_cannot_craft) {%><p class="tooltiptext">Uncraftable</p><%}%>
                <% if (items[i].equipped) { %> <p class="equippedtext">Equipped</p> <% } %>
              </div>
              <!-- End item tooltip div -->
            </div>
            <!-- End item div -->

            <% lastFound = items[i].bpposition; %>
            <% if (usedASlot % 50 === 0 && lastFound !== bpslots) { %>
              <p class="pagenumber">Page <%= ++currentPage %></p>
            <%}%>
          <%}%>
        <%}%>
        <!-- add blank slots at end of backpack -->
        <% while(lastFound < bpslots) { %>
          <div class="span2 normal backgroundmodifiers normal bpitem"></div>
          <% usedASlot++; %>
          <% if (usedASlot % 50 === 0) { %>
            <% if(lastFound + 1 !== bpslots) {%>
              <p class="pagenumber">Page <%= ++currentPage %></p>
            <%}
          }
          lastFound++;
        }%>
      <% items = null; %>
<% } else { %>
  <p>No items, or profile is private</p>
<% } %>