<% include header %>
    <h1>Steam Results for <% if(id) { %><%= id %> <% } else { %><%= user %><% } %></h1>
    <% if (results) { %>
      <p>
        Backpack Used/Total Slots: <%= results.length %>/<%= bpslots %>
      </p>
        <div class="row">
        <% for (var i = 0; i < results.length; i++) { %>
            <% switch(results[i].quality) { 
              case 0: %> <div class="span2 normal backgroundmodifiers">
                <% break; %>
              <% case 3: %> <div class="span2 vintage backgroundmodifiers">
                <% break; %>
              <% case 5: %> <div class="span2 unusual backgroundmodifiers">
                <% break; %>
              <% case 6: %> <div class="span2 unique backgroundmodifiers">
                <% break; %>
              <% case 7: %> <div class="span2 community backgroundmodifiers">
                <% break; %>
              <% case 9: %> <div class="span2 selfmade backgroundmodifiers">
                <% break; %>
              <% case 1: %> <div class="span2 genuine backgroundmodifiers">
                <% break; %>
              <% case 11: %> <div class="span2 strange backgroundmodifiers">
                <% break; %>
              <% case 13: %><div class="span2 haunted backgroundmodifiers">
                <% break; %>
            <%}%>
            <img src="<%= results[i].image_url %>" />
          </div>
        <% } %>
      </div>
    <% } else { %>
      <p>No results, or profile is private</p>
    <% } %>
  </div>
<% include footer %>