<% include header %>
    <% if(bpowner) { %>
      <h1><img src="<%= bpowner.avatarfull %>" /> <%= bpowner.personaname %>'s Backpack</h1>
    <%} else {%>
      <h1>Loading user's profile.</h1>
    <%}%>
    <% if (results) { %>
      <% var resultLength = results.length %>
      <p>
        Backpack Used/Total Slots: <%= resultLength %>/<%= bpslots %>
      </p>
      <% if(newItems === 'true') { %>
        <div class="row backpackrow newitem">
        <h3>New items:</h3>
        <% for (var y = 0; y < resultLength; y++) {
          if (results[y].isnew === 'new') {
            switch(results[y].quality) { 
              case 0: %> <div class="span2 normal backgroundmodifiers bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;"><%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 3: %> <div class="span2 vintage backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Vintage <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 8: %> <div class="span2 valve backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Valve <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 5: %> <div class="span2 unusual backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Unusual <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 6: %> <div class="span2 unique backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Unique <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 7: %> <div class="span2 community backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Community <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 9: %> <div class="span2 selfmade backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Self-made <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 1: %> <div class="span2 genuine backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Genuine <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 11: %> <div class="span2 strange backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p class="itemname" style="">Strange <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
              <% case 13: %><div class="span2 haunted backgroundmodifiers normal bpitem" style="background-image:url(<%= results[y].image_url %>);background-size: contain;">
                <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                <div class="iteminfo text-center">
                  <p style="text-align:center;">Haunted <%= results[i].name %></p>
                  <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                </div>
              <% break; %>
            <%}%>
            </div>
          <%}
        }
      }%>
      </div>
      <div class="row backpackrow">
      <h3>Backpack:</h3>
        <% var lastFound = 0; %>
        <% var currentFound = 0; %>
        <% var currentPage = 1; %>
        <% var usedASlot = 0; %>
          <% for (var i = 0; i < resultLength; i++) { %>
            <% if (results[i] !== undefined) { %>
              <% if (results[i].isnew !== 'new') { %>
                <% currentFound = results[i].bpposition; %>

                <!-- Adds page number, accounts for empty slots between items -->
                <% while(currentFound > (lastFound + 1)) { %>
                  <div class="span2 normal backgroundmodifiers normal bpitem"></div>
                  <% ++usedASlot; %>
                  <% if (usedASlot % 50 === 0) { %>
                    <p>Page <%= ++currentPage %></p>
                  <%}%>
                  <% currentFound--; %>
                <% } %>
                <% usedASlot++ %>

                <% switch(results[i].quality) { 
                  case 0: %> <div class="span2 normal backgroundmodifiers bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p style="text-align:center;"><%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 3: %> <div class="span2 vintage backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname vintagefont">Vintage <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 8: %> <div class="span2 valve backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname valvefont">Valve <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastfound = results[i].bpposition; %>
                  <% break; %>
                  <% case 5: %> <div class="span2 unusual backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname unusualfont">Unusual <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 6: %> <div class="span2 unique backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname uniquefont"><%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 7: %> <div class="span2 community backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname communityfont">Community <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 9: %> <div class="span2 selfmade backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname selfmadefont">Self-made <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 1: %> <div class="span2 genuine backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname genuinefont">Genuine <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 11: %> <div class="span2 strange backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname strangefont">Strange <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                  <% case 13: %><div class="span2 haunted backgroundmodifiers normal bpitem" style="background-image:url('<%= results[i].image_url %>');background-size: contain;">
                    <% if(results[i].quantity !== undefined && results[i].quantity !== 1) { %><%= results[i].quantity %><% } %>
                    <div class="iteminfo text-center">
                      <p class="itemname hauntedfont">Haunted <%= results[i].name %></p>
                      <p>Level: <%= results[i].level %> <%= results[i].item_type_name %></p>
                    </div>
                    <% lastFound = results[i].bpposition; %>
                  <% break; %>
                <%}%>
                </div>
                <% if (usedASlot % 50 === 0) { %>
                  <p>Page <%= ++currentPage %></p>
                <%}%>
              <%}%>
            <%}%>
          <%}%>
        <% while(lastFound < bpslots) { %>
          <div class="span2 normal backgroundmodifiers normal bpitem"></div>
          <% usedASlot++; %>
          <% if (usedASlot % 50 === 0) { %>
            <% if(lastFound + 1 !== bpslots) {%>
              <p>Page <%= ++currentPage %></p>
            <%}
          }
          lastFound++;
        }%>
        <% results = null; %>
        <% console.log("Finished rendering."); %>
      <% } else { %>
        <p>No results, or profile is private</p>
      <% } %>
    </div>
<% include footer %>